<p id="notice"><%= notice %></p>

<h1 class="center">Posts</h1>
<%= link_to 'New Post', new_post_path, class: 'btn btn-link btn-block' %>
<table align="center">

  <tbody>
    <% @posts.reverse_each do |post| %>
      <tr>
        <td id="postTitle"><%= post.title %></td>
      </tr>
      <tr>
        <td id="date">Posted on: <%= post.created_at.strftime("%d %B %Y") %></td>
      </tr>
      <tr>
        <td id="content"><%= simple_format(post.content) %></td>
        <!--<td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
